<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Alunos</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Cadastro de Alunos</h1>
        <form>
            <label for="nomeCompleto">Nome Completo</label>
            <input name="nomeCompleto" type="text" v-model="form.nome" required>

            <label for="email">Email</label>
            <input name="email" type="email" v-model="form.email" required>

            <label for="nota">Nota</label>
            <input name="nota" type="text" v-model="form.nota" required>

            <input type="button" value="Salvar" @click="editarAluno" v-if="editando">
            <input type="button" value="Cadastrar" @click="adicionarAluno" v-else>
        </form>

        <div>
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Nota</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <tr v-for="(aluno, index) in alunos" :key="index">
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.nota}}</td>
                        <td>
                            <button class="info" @click="editar(aluno)">Editar</button>
                            <button class="danger" @click="apagarAluno(index)">Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            form: {
                nome: '',
                email: '',
                nota: ''
            },
            alunos: [],
            editando: false,
            alunoEditandoIndex: null
        },
        methods: {
            limparFormulario: function () {
                this.form = {
                    nome: '',
                    email: '',
                    nota: ''
                }
            },
            adicionarAluno: function () {
                if (!this.form.nome || !this.form.email || !this.form.nota) {
                    alert("Por favor, preencha todos os campos obrigatórios.");
                    return;
                }
                this.alunos.push(this.form);
                this.limparFormulario();
            },
            editar: function (aluno) {
                this.form.nome = aluno.nome;
                this.form.email = aluno.email;
                this.form.nota = aluno.nota;
                this.editando = true;
                this.alunoEditandoIndex = this.alunos.indexOf(aluno);
            },
            editarAluno: function () {
                if (!this.form.nome || !this.form.email || !this.form.nota) {
                    alert("Por favor, preencha todos os campos obrigatórios.");
                    return;
                }
                this.alunos.splice(this.alunoEditandoIndex, 1, this.form);
                this.editando = false;
                this.limparFormulario();
            },
            apagarAluno: function (index) {
                this.alunos.splice(index, 1);
            }
        }
    })
</script>

</html>
